body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

header.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('arriba.jpeg'); /* Cambiar URL de la imagen según sea necesario */
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    overflow: hidden;
    padding-bottom: 300px; /* Ajusta este valor para subir el texto más arriba */
    transition: filter 1s; /* Transición para el efecto de filtro */
    margin-bottom: 200px; /* Añade más espacio debajo del header */
}

header.hero.black-and-white {
    filter: grayscale(100%);
}

.header-content {
    position: relative;
    text-align: center; /* Asegura que el contenido esté centrado */
}

.header-content h1 {
    font-size: 7em; /* Tamaño del texto más grande */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin-bottom: 10px; /* Reduce el espacio debajo del texto */
    cursor: pointer; /* Añade cursor de puntero */
}

.header-content h1 a, .header-content p a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

.header-content h1 a:hover, .header-content p a:hover {
    color: white; /* Mantener el color blanco al pasar el cursor */
}

.header-content p {
    font-size: 2em; /* Tamaño del texto */
    cursor: pointer; /* Añade cursor de puntero */
}

.rotated-text {
    position: absolute;
    top: 55%;
    left: 10px; /* Ajusta este valor para pegar más al borde izquierdo */
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left top;
    font-size: 1em; /* Tamaño de letra más pequeño */
    text-transform: uppercase;
    color: white;
    mix-blend-mode: difference; /* Cambia el color del texto según el fondo */
}

.image-section {
    padding: 20px; /* Reduce el padding para disminuir el tamaño vertical */
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Reduce la altura mínima de la sección */
    margin-bottom: 0cm; /* Espacio de un centímetro debajo de la sección de imágenes */
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(200% + 8cm); /* Ajustar el ancho para incluir el margen */
    margin-left: -4cm; /* Ajustar la posición inicial */
}

.carousel-container img {
    width: 323px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    object-fit: cover;
    margin: 0 1cm; /* Añade el margen de 1cm */
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.carousel-container img.visible {
    opacity: 1;
    transform: translateY(0);
}

.new-section {
    padding: 0px;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente */
    min-height: 70vh; /* Asegurar que ocupe toda la altura del viewport */
    margin-top: 1cm; /* Espacio de un centímetro encima de la nueva sección */
}

.new-image-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Aumenta el espacio entre las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan a la siguiente línea */
    margin-bottom: 20px; /* Espacio entre los grupos de imágenes */
}

.new-image-container img {
    width: 323px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    object-fit: cover;
    opacity: 0;
    transform: translateY(50px); /* Empieza desde más abajo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.new-image-container img.visible {
    opacity: 1;
    transform: translateY(0);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
